nav > ul > li{
    display:inline-block;
    margin: 5px;
}
.ab{
    color: aliceblue;
}
footer{
    text-align: center;
    margin-top: 10px;
}
main > header{
    text-align: center;
}
figcaption{
     text-align: center;
}
#head{
    background-image: url('/picturess/cats.webp');
}
label{
    display: block;
    margin-bottom: 2px;

}