nav > ul > li{
    display:inline-block;
    margin: 5px;
}
.ab{
    color: aliceblue;
}
footer{
    text-align: center;
    margin-top: 10px;
}
main > header{
    text-align: center;
}
figcaption{
     text-align: center;
}
#head{
    background-image: url(./picturess/logo1.jpg);
}
label{
    display: block;
    margin-bottom: 2px;

}
th , td{
    border: 2px solid rgb(161, 217, 245);
    padding: 5px 15px;
}
table{
    border-collapse: collapse;
}
#chart{
    background-color: rgb(138, 238, 238);
    text-align: center;
}